@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.main-body { 
  width: 100%;
  height: auto;
  font-family: 'Fira Sans', sans-serif;
  min-height: 100vh;
}

/* HOME AREA */
.home-area {
  width: auto;
  height: 100vh;
  background: #d6d6d6;
  scroll-margin-top: 100px;
}

.header-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 0 0 20px #00000035;
}

.head-logo {
  width: 100%;
  height: auto;
  padding-left: 50px;
}

.head-nav, .head-nav-ul, .head-nav-li {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

.head-nav-a {
  padding: 5px 5px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #686868;
}

.head-nav-a:hover {
  transform: scale(1.2);
  color: #000000;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.head-a-contact {
  background-color: #000000;
  padding: 20px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #bbbbbb;
  border: none;
}

.head-a-contact:hover {
  color: #ffffff;
}

.home-speech-container {
  width: 100%;
  height: auto;
  background: #d6d6d6;
}

.speech-container {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.speech-body {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.speech-h1 {
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px 20px;
}

.speech-h3 {
  padding: 30px 0;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #686868;
}

.speech-a-resume {
  background-color: #000000;
  padding: 15px;
  text-decoration: none;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #bbbbbb;
  border: none;
}

.speech-a-resume:hover {
  color: #ffffff;
}

.speech-img-container {
  width: 25%;
  height: 100vh;
  position: relative;
  bottom: 0;
}

.speech-img {
  width: auto;
  height: 91vh;
  position: absolute;
  bottom: 0;
}

/* MATERIALIZE PARALLAX */
.parallax-container {
  position: relative;
  overflow: hidden;
  height: 200px;
}

.parallax-container .parallax {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.parallax-container .parallax .parallax-img{
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  transform: translate3d(0, 0, 0);
  transform: translateX(-50%);
}


/* ABOUT AREA */
.about-area {
  width: 100%;
  height: auto;
  scroll-margin-top: 100px;
}

.img-details-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 30px 0;
  background-color: #1c1c1c;
  color: #d1d1d1;
}

.about-img-containers {
  width: 20%;
  height: auto;
  background-color: #2b2b2b;
  border: 2px solid #767676;
}

.about-img {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-details {
  width: 70%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-details-h1 {
  width: 100%;
  height: auto;
  padding: 10px;
  border-top: 1px solid #a3a3a3;
  border-bottom: 1px solid #a3a3a3;
  text-align: center;
  background-color: #2b2b2b;
}

.about-details-h3 {
  padding: 20px 0;
}

.about-details-p {
  padding: 5px 10px;
  text-align: center;
}

.about-adjectives {
  margin-top: 20px;
}

.about-adjectives, .about-hobbies {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #313131;
}

.about-p-icons-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.about-h3 {
  width: 100%;
  height: auto;
  background-color: #272727;
  text-align: center;
}

.about-p {
  height: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-p-icons.material-icons {
  padding-right: 10px;
  font-size: 1.7rem;
}


/* WORK AREA */
.work-area {
  width: 100%;
  height: auto;
  scroll-margin-top: 100px;
}

.work-top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  background-color: #ffffff;
}

.work-top-h1 {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5px 0;
  font-weight: bolder;
  border-bottom: 2px solid #000000;
}

.work-top-p {
  padding: 30px 0;
}

.work-top-h4 {
  padding: 10px 0;
}

.work-top-logos {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 10px 0;
  background-color: #373737;
}

.work-top-img {
  width: 4%;
  height: auto;
  border: 2px solid #000000;
  border-radius: 50%;
  padding: 5px;
  background-color: #ffffff;
}

.work-proj {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}

.work-con-proj {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}

.work-proj-con, .work-proj-con1 {
  width: 20%;
  height: 250px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 20px 0 #00000036;
  background: #eeeeee;
}

.work-proj-con:hover .work-proj-img {
  animation: scrollPreview 5000ms alternate infinite linear;
}

.work-proj-img, .work-proj-img1 {
  width: 100%;
  height: auto;
}

.work-proj-a {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  outline: none;
  border: none;
  padding: 10px 0;
  background-color: #64dbff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #272727;
}

.work-proj-a:hover {
  background-color: #93e5fd;
}

/* WORK AREA KEYFRAMES */
@keyframes scrollPreview {
  100% { transform: translateY(-75%) };
}


/* CONTACT AREA */
.contact-area {
  width: 100%;
  height: auto;
  background: #222222;
  color: #949494;
  scroll-margin-top: 100px;
}

.contact-body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-p {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  background: #00000033;
}

.contact-mid {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-det-site{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
}

.contact-det {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 20px 0;
}

.contact-site {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.contact-det-p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact-icons.material-icons {
  padding-right: 10px;
  font-size: 1.7rem;
}

.contact-img {
  width: 4%;
  height: auto;
  background: #949494;
  border-radius: 50%;
}

.contact-img:hover {
  background: #ffffff;
}

.contact-end {
  width: 90%;
  height: auto;
  padding: 15px 0 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #949494;
}

.contact-h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.contact-thanks.material-icons {
  padding-left: 5px;
  font-size: 1.2rem;
}

/* MEDIA QUERYS */
/*  Tablets in landscape mode, older desktop monitors */
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  :root {
    font-size: 13px;
  }

  .speech-img-container {
    width: 30%;
  }

  .parallax-container {
    height: 165px;
  }

  .about-img-containers {
    width: 32%;
  }

  .about-details {
    width: 60%;
  }

  .work-proj-con, .work-proj-con1 {
    width: 30%;
  }

  .contact-img {
    width: 6%;
  }
}

/*  Tablets in portrait mode, large display smartphones landscape mode */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 13px;
  }

  .speech-img-container {
    width: 41%;
  }

  .speech-img {
    height: 85vh;
  }

  .parallax-container {
    height: 150px;
  }

  .about-img-containers {
    width: 54%;
  }

  .work-top-p {
    padding: 30px;
    text-align: center;
  }

  .work-top-img {
    width: 7%;
  }

  .work-proj-con, .work-proj-con1 {
    width: 30%;
    height: 200px;
  }

  .contact-img {
    width: 7%;
  }
}

/*  Smartphones in landscape mode */
@media screen and (max-width: 767px) {
  :root {
    font-size: 12px;
  }

  .main-body {
    min-height: auto;
  }
  
  .head-logo {
    padding-left: 15px;
  }
  
  .head-a-contact {
    padding: 10px;
  }
  
  .home-area {
    height: auto;
  }
  
  .speech-container {
    width: 100%;
    height: 690px;
    align-items: flex-end;
  }
  
  .speech-body {
    width: 40%;
    height: auto;
    display: block;
    margin: auto 0;
  }
  
  .speech-h3 {
    padding: 20px 0;
  }
  
  .speech-h1 {
    padding: 5px 0;
  }
  
  .speech-a-resume {
    padding: 10px;
    margin: 15px 0;
    width: 120px;
    text-align: center;
    display: block;
  }
  
  .speech-img-container {
    width: 43%;
    height: auto;
    position: unset;
  }
  
  .speech-img {
    width: 100%;
    height: auto;
    position: unset;
    display: block;
    margin: auto 0 0;
  }

  .parallax-container {
    height: 150px;
  }

  .about-img-containers {
    width: 50%;
  }

  .work-top-p {
    padding: 30px;
    text-align: center;
  }

  .work-top-img {
    width: 7%;
  }

  .work-proj-con, .work-proj-con1 {
    width: 30%;
    height: 200px;
  }

  .contact-img {
    width: 7%;
  }
}

/*  Smartphones in portrait mode  */
@media screen and (max-width: 420px) {
  :root {
    font-size: 10px;
  }
  
  .main-body {
    min-height: auto;
  }
  
  .head-logo {
    padding-left: 15px;
  }
  
  .head-a-contact {
    padding: 10px;
  }
  
  .home-area {
    height: auto;
  }
  
  .speech-container {
    width: 100%;
    height: 400px;
    align-items: flex-end;
  }
  
  .speech-body {
    width: 40%;
    height: auto;
    display: block;
    margin: auto 0;
  }
  
  .speech-h3 {
    padding: 20px 0;
  }
  
  .speech-h1 {
    padding: 5px 0;
  }
  
  .speech-a-resume {
    padding: 10px;
    margin: 15px 0;
    width: 120px;
    text-align: center;
    display: block;
  }
  
  .speech-img-container {
    width: 43%;
    height: auto;
    position: unset;
  }
  
  .speech-img {
    width: 100%;
    height: auto;
    position: unset;
    display: block;
    margin: auto 0 0;
  }
  
  .parallax-container {
    height: 85px;
  }
  
  .img-details-container {
    padding: 20px 0;
  }
  
  .about-img-containers {
    display: none;
  }
  
  .about-details {
    width: 100%;
  }

  .work-top {
    padding: 0;
  }

  .work-top-p {
    padding: 15px;
    text-align: center;
  }

  .work-top-h4 {
    padding: 5px 0;
  }

  .work-top-img {
    width: 10%;
  }

  .work-proj {
    padding: 0;
  }

  .work-con-proj{
    flex-direction: column;
    padding: 0;
  }

  .work-proj-con, .work-proj-con1 {
    width: 100%;
    padding: 30px;
    height: 290px;
  }

  .contact-p {
    padding: 7px;
  }

  .contact-det-p {
    width: 100%;
    height: auto;
    justify-content: flex-start;
  }

  .contact-icons.material-icons {
    padding-right: 5px;
  }

  .contact-site {
    width: 100%;
  }

  .contact-img {
    width: 6%;
  }
}